.mat-raised-button{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
i.fa.fa-google {
    font-size: 24px
}
a.gg {
    /* padding-left: 8px; */
    margin-left: 4px;
    /* border-left: rgb(255, 251, 251) solid 1px; */
    font-weight: 500;
}