<mat-toolbar color="primary">
  <mat-toolbar-row>
      <i class="material-icons" style="font-size: 25px;color: #84e88d">dashboard</i><span routerLink="" style="cursor: pointer"> Shop Manager</span>

    <span class="example-spacer"></span>

    <button mat-button>ABOUT</button>
    <button mat-button>CONTACT</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true">
      <app-menu-sidenav></app-menu-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <router-outlet><mat-spinner *ngIf="showSpinner"></mat-spinner></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
