<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="" style="cursor: pointer">Shop Manager</span>

    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true">
      <app-menu-sidenav></app-menu-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
