/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
// @include mat-base-typography($custom-typography);
@include mat-core($custom-typography);

.material-icons {
    font-size: 22px;
    color: rgb(230, 230, 230);
    margin-right: 7px
}
button.mat-sort-header-button{
  color: #ffffff ;
  text-transform: uppercase;
  font-weight: 700 !important;
}
.mat-cell {
  font-size: 16px;
  font-weight: 500;
}
.mat-header-row {
  background: rgba(0,0,0,.87)
}
::-webkit-scrollbar-track
{
	background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb
{
	background-color: #212121;
}
